<!-- <link rel="stylesheet" href="./about.component.css"> -->
<div id="about-title">
	<h2>{{nombre}}</h2>
	<h3>{{subtitulo}}</h3>
	<h3>{{correo}}</h3>
</div>
<article class="about">
	<h2 class="about-title">Sobre Mi</h2>
	<p class="about-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore voluptatum voluptate mollitia nemo eum sint repellendus nisi natus ad atque iste dolorum necessitatibus aspernatur, molestiae possimus quaerat tenetur ab sequi, maiores autem fugit omnis dolores. Nostrum ab praesentium beatae nam?</p>
</article>
