<header>
	<ul>
		<li><a [routerLink]="['/acerca-de']" [routerLinkActive]="['active']">About</a></li>
		<li><a [routerLink]="['/proyecto']" [routerLinkActive]="['active']">Proyectos</a></li>
		<li><a href="#" id="logo">LOGO</a></li>
		<li><a [routerLink]="['/crear']" [routerLinkActive]="['active']">Crear Proyecto</a></li>
		<li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a></li>
	</ul>
</header>

<main id="main-container">
	<router-outlet></router-outlet>

</main>

<footer>
	All Rigth Reserve &copy;
</footer>

